#login ,
#signup{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap: 30px;
}

#login form,
#signup form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#login form .input-data ,
#signup form .input-data{
    height: 20px;
}

#login form .input-data input ,
#signup form .input-data input{
    padding: 5px;
    border-bottom: 1px solid #111;
}

#login form input[type="submit"],
#signup form input[type="submit"]{
    width: 100px;
    height: 32px;
    border-radius: 10px;
    font-size: large;
    background-color: #111;
    color: #fff;
    text-align: center;
}

a {
    color: #111;
    text-decoration: none;
}
